.clearfix {
  @extend %clearfix;
}

.flex {
  @extend %flex;
}

/*
*** Flex Row ***
*/
.flex-row {
  @extend %flex-row;
}

.flex-row-space-around {
  @extend %flex-row-space-around;
}

.flex-row-space-between {
  @extend %flex-row-space-between;
}

.flex-row-centered {
  @extend %flex-row-centered;
}

.flex-row-flex-start {
  @extend %flex-row-flex-start;
}

.flex-row-flex-end {
  @extend %flex-row-flex-end;
}


/*
*** Flex Column ***
*/
.flex-column-space-between {
  @extend %flex-column-space-between;
}

.flex-column-center {
  @extend %flex-column-center;
}

.flex-column-flex-start {
  @extend %flex-column-flex-start;
}

.flex-column-flex-end {
  @extend %flex-column-flex-end;
}

.equal-size {
  @extend %equal-size;
}

.circle-box {
  @include border-radius(50%);
}

.big-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.acf-map {
  width: 100%;
  height: 366px;
  pointer-events: none;
}

.entry {
  font-size: 20px;
  line-height: 1.4;
  color: #000;
  p {
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    margin: 0 20px;
    list-style: inherit;
  }
  table {
    border: 1px solid #000;
    td {
      border: 1px solid #000;
    }
    tr:nth-child(1) > td {
      text-align: center;
      background: #ccc;
    }
  }
}

.no-mobile {
  display:none !important;
}