// @if not-imported("your-file") { @import "your-file"; }
$importedOnceFiles: () !default;

@function not-imported($fileName) {
  $importedOnceFiles: $importedOnceFiles !global;
  $moduleIndex: index($importedOnceFiles, $fileName);
  @if (($moduleIndex == null) or ($moduleIndex == false)) {
    $importedOnceFiles: append($importedOnceFiles, $fileName);
    @return true;
  }
  @return false;
}

@function px($size) {
  @return $size+px;
}

@function em($size: 16) {
  @return $size / 16+em;
};

@function rem($size: 16) {
  @return $size / 16+rem;
};

@function to-type($size, $type:px) {
  @return ($type($size));
}

@function get-vw($maxBreakpoint, $target) {
  // 1 vw is equal to 1% of the viewport width
  $vwContext: ($maxBreakpoint * .01) * 1; // 1% viewport width
  @return ($target/$vwContext) * 1vw;
}

@function get-vh($maxBreakpoint, $target) {
  // 1 vh is equal to 1% of the viewport height
  $vwContext: ($maxBreakpoint * .01) * 1; // 1% viewport height
  @return ($target/$vwContext) * 1vh;
}

@function fetch-from-multidimensional-map($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function change-multidimensional-map-value($map, $keys, $value) {
  $maps: ($map,);
  $result: null;

  // If the last key is a map already
  // Warn the user we will be overriding it with $value
  @if type-of(nth($keys, -1)) == "map" {
    @warn "The last key you specified is a map; it will be overrided with `#{$value}`.";
  }

  // If $keys is a single key
  // Just merge and return
  @if length($keys) == 1 {
    @return map-merge($map, ($keys: $value));
  }

  // Loop from the first to the second to last key from $keys
  // Store the associated map to this key in the $maps list
  // If the key doesn't exist, throw an error
  @for $i from 1 through length($keys) - 1 {
    $currentKey: nth($keys, $i);
    $currentMap: nth($maps, -1);
    $currentGet: map-get($currentMap, $currentKey);
    @if $currentGet == null {
      @error "Key `#{$key}` doesn't exist at current level in map.";
    }
    $maps: append($maps, $currentGet);
  }

  // Loop from the last map to the first one
  // Merge it with the previous one
  @for $i from length($maps) through 1 {
    $currentMap: nth($maps, $i);
    $currentKey: nth($keys, $i);
    $currentVal: if($i == length($maps), $value, $result);
    $result: map-merge($currentMap, ($currentKey: $currentVal));
  }

  // Return result
  @return $result;
}

@function width-to-percent($elementPixelWidth: 0, $wrapPixelsWidth: 0) {
  @return percentage($elementPixelWidth/$wrapPixelsWidth);
}

@function height-to-percent($elementPixelHeight: 0, $wrapPixelsHeight: 0, $doubleTo: 1.5) {
  @return percentage($elementPixelHeight/$wrapPixelsHeight) * $doubleTo;
}

@function set-font-family($fontName: null) {
  $font: $fontName;
  @if ($fontName == 'Assistant') {
    $font: 'Assistant', sans-serif;
  } @else if ($fontName == 'Open') {
    $font: 'Open Sans Hebrew', sans-serif;
  } @else if($fontName == 'Almoni') {
    $font: 'Almoni';
  } @else {
    $font: $fontName;
  }
  @return $font;
}

@function set-calc-width($number) {
  @return calc(100% - #{$number});
}

@function set-calc-height($number) {
  @return calc(100% - #{$number});
}

@function transition($property: all, $time: 500ms, $style: linear) {
  @return $property $time $style;
}

@function set-display($style: null) {

    @if ($style == null) {
      $style: $display;
    } @else {
      $style: $style;
    }
  @return $style;
}