@charset "UTF-8";

@import "functions";
@import "variables";
@import "media_queries";
@import "mixins";
@import "helpers";
@import "classes";
@import "general";

@if ($fontFamily == 'Assistant') {
  @import url('https://fonts.googleapis.com/css?family=Assistant:400,700&subset=hebrew');
  $fontFamily: 'Assistant', sans-serif;
} @elseif ($fontFamily == 'Open') {
  @import url('http://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
  $fontFamily: 'Open Sans Hebrew', sans-serif;
} @else {
  $fontFamily: Almoni;
  @font-face{
    font-family:'almoni';
    font-weight:300; /*(light)*/
    font-style: normal;
    src: url('fonts/almoni/almoni-dl-aaa-300.eot');
    src: url('fonts/almoni/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
    url('fonts/almoni/almoni-dl-aaa-300.ttf') format('truetype'),
    url('fonts/almoni/almoni-dl-aaa-300.woff') format('woff');
  }
  @font-face{
    font-family:'almoni';
    font-weight:400; /*(regular)*/
    font-style: normal;
    src: url('fonts/almoni/almoni-dl-aaa-400.eot');
    src: url('fonts/almoni/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
    url('fonts/almoni/almoni-dl-aaa-400.ttf') format('truetype'),
    url('fonts/almoni/almoni-dl-aaa-400.woff') format('woff');
  }
  @font-face{
    font-family:'almoni';
    font-weight:700; /*(bold)*/
    font-style: normal;
    src: url('fonts/almoni/almoni-dl-aaa-700.eot');
    src: url('fonts/almoni/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
    url('fonts/almoni/almoni-dl-aaa-700.ttf') format('truetype'),
    url('fonts/almoni/almoni-dl-aaa-700.woff') format('woff');
  }
  @font-face{
    font-family:'almoni';
    font-weight:900; /*(black)*/
    font-style: normal;
    src: url('fonts/almoni/almoni-dl-aaa-900.eot');
    src: url('fonts/almoni/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
    url('fonts/almoni/almoni-dl-aaa-900.ttf') format('truetype'),
    url('fonts/almoni/almoni-dl-aaa-900.woff') format('woff');
  }
}

@for $i from 1 through $column-number {
  .col-#{$i} {
    width: (100% / $column-number * $i) - ($column-gutter * 2);
    padding: $column-gutter;
  }
}

@include reset-defaults();

body {
  font-family: $fontFamily;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  direction: rtl;
}

img {
  width: auto;
  max-width: 100%;
  line-height: 0;
  font-size: 0;
  height: auto !important;
}

a,
a:hover {
  text-decoration: none;
  color: $fontColor;
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  height: auto;
}

iframe {
  max-width: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  //padding-bottom: 300px;
  //padding-bottom: 180px;
  -webkit-transition:all .5s linear;
  transition: all .5s linear;

}

.wrapper:after, .container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper, .container, .row, column {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
}

// navigation
#MobBtns,
#MobNavBtn {
  display: none;
}

nav {
  width: 100%;
  text-align: center;
  position: relative;
}

div.main_menu {
  font-size: 0;
}

nav div.main_menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

nav div.main_menu > ul > li {
  width: 100%;
  position: relative;
}

nav div.main_menu > ul > li > a {
  display: inline-block;
  vertical-align: middle;
  font-family: $fontFamily;
  font-size: 20px;
  color: #b8292f;
  -webkit-transition:all .5s ease-out;
  transition: all .5s ease-out;
}

nav div.main_menu ul li.current_page_item > a,
nav div.main_menu ul li.current-menu-item > a,
nav div.main_menu ul li:hover > a {
  color: #000;
}

nav div.main_menu > ul > li ul.sub-menu {
  display: block;
  z-index: 999;
  width: 250px;
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition:opacity .5s ease;
  transition: opacity .5s ease;
}

.sub-menu li {
  display: block;
}

.sub-menu li a {
  display: block;
  font-size: 20px;
  padding: 5px;
  width: calc(100px - 10px);
  -webkit-transition:all .5s ease;
  transition: all .5s ease;
}

.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
}

//footer
footer {
  position: absolute;
  bottom: 64px;
  left: 0;
  height: auto;
  min-height: 50px;
  width: 100%;
}

#leos {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  overflow: hidden;
}

#leos a {
  position: relative;
  display: inline-block;
}

#leos span {
  opacity: 0;
  position: absolute;
  right: 0;
  color: white;
  font-size: 22px;
  bottom: 10px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition:.3s;
  transition: .3s;
}

#leos a:hover span {
  right: -100px;
  opacity: 1;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

#leos img {

  padding-top: 10px;
  height: 50px !important;
  width: auto;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

div.wpcf7 img.ajax-loader {
  display: none;
}

svg * {
  fill: inherit !important;
}

#FloatSocials {
  position: fixed;
  display: block;
  top:30%;
  left:10px;
  z-index: 90;
}

#FloatSocials div {
  margin-bottom: 5px;
}

#FloatSocials div a {
  display: inline-block;
}

#FloatSocials img,
#FloatSocials svg {
  width: 30px;
  height:30px;
  fill:#000;
  -webkit-transition:all .5s ease;
  transition: all .5s ease;
}

/* Contact form style Start */
span.wpcf7-form-control-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* Red Ballons CSS */
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
  position: absolute;
  bottom: 100%;
  background: #f00;
  border-radius: 5px;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  white-space: nowrap;
  left: 5%;
  -webkit-animation: formerror 400ms;
  animation: formerror 400ms;
}

span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip.tip_out {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  opacity: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top:100%;
  left: 10%;
  border-left: 0 solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #f00;
}

@-webkit-keyframes formerror {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 100%;
  }
}

@keyframes formerror {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 100%;
  }
}

.wrap {
  br {
    display: none;
  }
}

div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 input[type=submit] {
  font-family: $fontFamily;
}

div.wpcf7 textarea { height: 100px; }

div.wpcf7 input[type=submit] {
  cursor: pointer;
}


/* Bubble animation for replacing ajax img */
@-webkit-keyframes bubbles {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.1);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes bubbles {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* Errors Msgs */
div.wpcf7-response-output {
  position: fixed;
  margin: 0 !important;
  border: none;
  padding: 10px 15px;
  bottom:-100%;
  z-index:9999;
  font-size:22px !important;
  left:50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition:all 1s ease;
  transition: all 1s ease;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  -webkit-animation: form_msg_error 500ms;
  animation: form_msg_error 500ms;
  bottom:0;
}

@-webkit-keyframes form_msg_error {
  from {
    bottom:-100%;
  }
  to {
    bottom:0;
  }
}

@keyframes form_msg_error {
  from {
    bottom:-100%;
  }
  to {
    bottom:0;
  }
}

div.wpcf7-mail-sent-ok {
  background: #398f14;
}

div.wpcf7-validation-errors {
  background: #f7e700;
}

.form_msg_error_out {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

@-webkit-keyframes form_msg_out {
  from {
    bottom: 0;
  }
  to {
    bottom: -300px;
  }
}

@keyframes form_msg_out {
  from {
    bottom: 0;
  }
  to {
    bottom: -300px;
  }
}



