%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%flex {
  display: flex;
}

%inline-flex {
  display: inline-flex;
}

/*
*** Flex Row ***
*/

%flex-row {
  @include display-style(flex);
  @include flex-flow(row, wrap);
}

%flex-row-space-around {
  @include display-style(flex);
  @include flex-flow(row, wrap);
  justify-content: space-around;
  align-items: center;
}

%flex-row-space-between {
  @include display-style(flex);
  @include flex-flow(row, wrap);
  justify-content: space-between;
  align-items: center;
}

%flex-row-centered {
  @include display-style(flex);
  @include flex-flow(row, wrap);
  justify-content: center;
  align-items: center;
}

%flex-row-flex-start {
  @include display-style(flex);
  @include flex-flow(row, wrap);
  justify-content: flex-start;
  align-items: center;
}

%flex-row-flex-end {
  @include display-style(flex);
  @include flex-flow(row, wrap);
  justify-content: flex-end;
  align-items: center;
}

/*
*** Flex Column ***
*/

%flex-column-space-between {
  @include display-style(flex);
  @include flex-flow(column, wrap);
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

%flex-column-center {
  @include display-style(flex);
  @include flex-flow(column, wrap);
  align-items: center;
  align-content: center;
  justify-content: center;
}

%flex-column-flex-start {
  @include display-style(flex);
  @include flex-flow(column, wrap);
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

%flex-column-flex-end {
  @include display-style(flex);
  @include flex-flow(column, wrap);
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
}

%equal-size {
  @include flex-items-size(1, 1, auto);
}