@mixin webMediaQuery($breakpoint) {
  @if (map-has-key($breakpoints, $breakpoint)) {
    @media (max-width: map_get($breakpoints, $breakpoint)) , (max-device-width: map_get($breackpoints, $breackpoint)) {
      @content;
    }
  }
}

@mixin mobileMediaQuery($mobileBreakpointsMap, $deviceName, $orientation) {

  @each $device, $settings in $mobileBreakpointsMap {

    @if ($device == $deviceName) {
      $minDeviceWidth: map-get($settings, min-device-width ) !global;
      $maxDeviceWidth: map-get($settings, max-device-width) !global;
      $pixelRatio:     map-get($settings, pixel-ratio) !global;
    }

  }

  $query: "";
  $media: " (min-device-width: #{$minDeviceWidth}) and (max-device-width: #{$maxDeviceWidth}) and (-webkit-device-pixel-ratio: #{$pixelRatio})";
  $query: $media;
    @if ($orientation != null) {
    $query: $media + " and (orientation: #{$orientation})";
    }

  @media screen and #{$query} {
    @content;
  }
}
