//set placeholder
@mixin setComponent($placeholder) {
  %#{$placeholder} {
    @content;
  }
}
//get placeholder
@mixin getComponent($placeholder) {
  @extend %#{$placeholder};
}

@mixin margin($direction, $value) {
  margin-#{$direction}: px($value);
  margin-#{$direction}: rem($value);
}

@mixin padding($direction, $value) {
  padding-#{$direction}: px($value);
  padding-#{$direction}: rem($value);
}

@mixin triangle($rotateDegree: 90deg, $size: 25px, $color: #000000, $xRange: 0, $yRange: 0) {
  content: "";
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
  position: absolute;
  top: $yRange;
  left: $xRange;
  transform: rotate($rotateDegree);
}

@mixin listTriangle($rotateDegree: 90deg, $size: 25px, $color: #000000, $xRange: 0, $yRange: 0) {
  content: "";
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
  position: absolute;
  top: $yRange;

  @if ($rtl == true) {
    right: $xRange;
  } @else {
    left: $xRange;
  }

  transform: rotate($rotateDegree);
}

@mixin moveTo($direction: left) {
  @if ($rtl == true) {
    $direction: right;
  }
  float: $direction;
}

@mixin clearFix() {
  clear: both;
  &:after {
    display: table;
    content: " ";
  }
}

@mixin setPosition($position: $positionBase, $xDirection: left, $yDirection: top, $xRange: 0, $yRange: 0, $zIndex: null) {
  position: $position;
  #{$xDirection}: $xRange+px;
  #{$xDirection}: rem($xRange);
  #{$yDirection}: $yRange+px;
  #{$yDirection}: rem($yRange);

  @if ($zIndex != null) {
    z-index: $zIndex;
  }
}

@mixin setPositionRelative($xDirection: left, $yDirection: top, $xRange: 0, $yRange: 0, $zIndex: null) {
  position: relative;
  #{$xDirection}: $xRange+px;
  #{$xDirection}: rem($xRange);
  #{$yDirection}: $yRange+px;
  #{$yDirection}: rem($yRange);

  @if ($zIndex != null) {
    z-index: $zIndex;
  }
}

@mixin setPositionAbsolute($xDirection: left, $yDirection: top, $xRange: 0, $yRange: 0, $zIndex: null) {
  position: absolute;
  #{$xDirection}: $xRange+px;
  #{$xDirection}: rem($xRange);
  #{$yDirection}: $yRange+px;
  #{$yDirection}: rem($yRange);

  @if ($zIndex != null) {
    z-index: $zIndex;
  }
}

@mixin setPositionFixed($xDirection: left, $yDirection: top, $xRange: 0, $yRange: 0, $zIndex: null) {
  position: fixed;
  #{$xDirection}: $xRange+px;
  #{$xDirection}: rem($xRange);
  #{$yDirection}: $yRange+px;
  #{$yDirection}: rem($yRange);

  @if ($zIndex != null) {
    z-index: $zIndex;
  }
}

@mixin setOnlyPosition($position: $positionBase) {
  position: $position;
}

@mixin setRange($xDirection: left, $xRange: 0, $yDirection: top, $yRange: 0) {
  #{$xDirection}: $xRange+px;
  #{$xDirection}: rem($xRange);
  #{$yDirection}: $yRange+px;
  #{$yDirection}: rem($yRange);
}

@mixin setZIndex($zIndex) {
  z-index: $zIndex;
}

@mixin displayStyle($style: null) {

  @if ($style == null) {
    display: $display;
  } @else {
    display: $style;
  }
}

@mixin flexJustifyContent($direction) {
  justify-content: $direction;
}

@mixin alignItems($direction) {
  align-items: $direction;
}

@mixin alignContent($direction) {
  align-content: $direction;
}

@mixin flexItemsSize($width: 1, $height: 1, $size: null) {
  @if ($size != null) {
    flex: $width $height $size;
  } @else {
    flex: $width $height;
  }
}

@mixin displayFlex($direction: $flexShortHandDirection) {
    flex-flow: $direction;
}

@mixin justifyContent($justifyContent: center) {
  justify-content: $justifyContent;
}

@mixin alignItems($alignItems: center) {
  align-items: $alignItems;
}

@mixin alignContent($alignContent: center) {
  align-content: $alignContent;
}


@mixin placeholder($color: $fontColor) {
  ::-webkit-input-placeholder {
    color: $color;
    font-family: $fontFamily;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $fontColor;
    font-family: $fontFamily;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $fontColor;
    font-family: $fontFamily;
  }
  :-ms-input-placeholder {
    color: $fontColor;
    font-family: $fontFamily;
  }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }
  input:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;
  }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;
  }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent;
  }
}

@mixin borderRadius($radius: 0) {

  @if ($radius != 0) {
    border-radius: px($radius);
    border-radius: rem($radius);
  } @else {
    border-radius: px($baseRadius);
    border-radius: rem($baseRadius);
  }
}

@mixin svg($size:$svgBaseSize, $fill:$fontColor) {
  width: em($svgBaseSize);
  height: em($svgBaseSize);
  fill: $fill;
}

@mixin hasBottomPadding($size) {
  padding-bottom: $size;
}

@mixin resetGutter() {
  margin: 0 px(-$gutter);
  margin: 0 rem(-$gutter);
}

@mixin setColumns($number) {
  $splitTo: $columnNumber;
  @if ($number < $columnNumber) {
    $splitTo: $number;
  }

  @for $i from 1 through $splitTo {
    .col-#{$i} {
      width: (100% / $splitTo * $i);
      padding: 0 px($gutter);
      padding: 0 rem($gutter);
    }
  }

}

@mixin prettyRowView($countItems: 0, $floatDirection: left) {

  @if ($countItems == 0) {
    $columnsCount: $columnNumber;
  } @else {
    $columnsCount: $countItems;
  }

  width: (( 100% - ( ($columnsCount - 1) * 2% ) ) / $columnsCount);
  padding: 10px;
  padding: rem(10);
  margin-#{$floatDirection}: 2%;
  &:nth-child(#{$columnsCount}) {
    margin-#{$floatDirection}: 0;
  }
  float: $floatDirection;
}

@mixin setDirection($isRtl: $rtl) {

  @if ($isRtl == true) {
    direction: rtl;
  } @else {
    direction: ltr;
  }
}

@mixin setWidth ($number) {
  width: px($number);
  width: rem($number);
}

@mixin setHeight ($number) {
  height: px($number);
  height: rem($number);
}

@mixin setCalcWidth($number) {
  width: set-calc-width($number);
}

@mixin setCalcHeight($number) {
  height: setCalcHeight($number);
}

@mixin transition($property: all, $time: 500ms, $style: linear) {
  transition: $property $time $style;
}

@mixin marginAuto($bothZero: true, $top: 0, $bottom: 0) {

  @if ($bothZero == true) {
    margin: 0 auto;
  } @else {
    margin: $top auto $bottom;
  }
}

@mixin floatTo($direction: $direction) {
  @if ($rtl == true) {
    $direction: right !global;
  }
  float: $direction;
}

@mixin resetDefaults() {
  *, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: auto;
    max-width: 100%;
    line-height: 0;
    font-size: 0;
    height: auto !important;
  }

  a, a:hover {
    text-decoration: none;
    color: $fontColor;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: $fontWeight;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

@mixin baseFontFamily($fontName) {

  @if (setFontFamily($fontName) == null) {
    $fontFamily: $baseFont !global;
  } @else {
    $fontFamily: setFontFamily($fontName) !global;
  }

  @if ($fontFamily == 'Assistant') {
    @import url('https://fonts.googleapis.com/css?family=Assistant:400,700&subset=hebrew');
  } @else if ($fontFamily == 'Open') {
    @import url('http://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
  } @else if($fontFamily == 'Almoni') {
    @font-face{
      font-family:'almoni';
      font-weight: $fontWeight - 100; /*(light)*/
      font-style: $fontStyleBase;
      src: url('fonts/almoni/almoni-dl-aaa-300.eot');
      src: url('fonts/almoni/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
      url('fonts/almoni/almoni-dl-aaa-300.ttf') format('truetype'),
      url('fonts/almoni/almoni-dl-aaa-300.woff') format('woff');
    }
    @font-face{
      font-family:'almoni';
      font-weight: $fontWeight; /*(regular)*/
      font-style: $fontStyleBase;
      src: url('fonts/almoni/almoni-dl-aaa-400.eot');
      src: url('fonts/almoni/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
      url('fonts/almoni/almoni-dl-aaa-400.ttf') format('truetype'),
      url('fonts/almoni/almoni-dl-aaa-400.woff') format('woff');
    }
    @font-face{
      font-family:'almoni-bold';
      font-weight: $fontWeight + 200; /*(bold)*/
      font-style: $fontStyleBase;
      src: url('fonts/almoni/almoni-dl-aaa-700.eot');
      src: url('fonts/almoni/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
      url('fonts/almoni/almoni-dl-aaa-700.ttf') format('truetype'),
      url('fonts/almoni/almoni-dl-aaa-700.woff') format('woff');
    }
    @font-face{
      font-family:'almoni-black';
      font-weight: $fontWeight + 400; /*(black)*/
      font-style: $fontStyleBase;
      src: url('fonts/almoni/almoni-dl-aaa-900.eot');
      src: url('fonts/almoni/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
      url('fonts/almoni/almoni-dl-aaa-900.ttf') format('truetype'),
      url('fonts/almoni/almoni-dl-aaa-900.woff') format('woff');
    }
  }

  @debug $fontFamily;
}

@mixin baseStyles() {

  body {
    font-family: $fontFamily;
    font-size: $fontSizeBase;
    font-weight: $fontWeight;
    height: setCalcHeight(0);
    @include  setDirection();
  }

  .row {
    @include resetGutter();
  }

  .wrapper {
    width: $baseWidth;
  }

  .container {
    width: $baseWidth;
    max-width: px($containerLargeDesktop);
    max-width: rem($containerLargeDesktop);
    height: $baseHeight;
    @include marginAuto();
  }

  iframe {
    max-width: $iFrameWidth;
  }

  #wrapper {
    min-height: setCalcHeight(0);
    @include setOnlyPosition(relative);
  }

  #content {
    padding-bottom: 400px;
    transition: transition();
  }

  .wrapper:after,
  .container:after,
  .row:after {
    @include clearFix();
  }

  .logo {
    font-size: 0;
  }
  .logo a {
    display: setDisplay(inline-block);
  }
  .logo a img {
    max-width: setCalcWidth(0);
  }

}

@mixin menuBaseStyles() {
  ul {
    margin: 0 0 0 0;
    list-style: none;
  }
  #MobBtns,
  #MobNavBtn {
    display: none;
  }
  nav {
    width: 100%;
    text-align: center;
    position: relative;
    background: #ccc;
  }
  nav * {
    background: inherit;
  }
  div.main_menu {
    font-size: 0;
  }
  nav div.main_menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
  }
  nav div.main_menu > ul > li {
    width: 100%;
    position: relative;
  }
  /*
  nav ul li:after {
      content: "|";
      display:inline-block;
      vertical-align: middle;
      font-size:20px;
      color:#b8292f;
      margin:0 10px;
  }
  nav ul li:last-child:after {
      content: " ";
  }
  */
  nav div.main_menu > ul > li > a {
    display: inline-block;
    vertical-align: middle;
    font-family: Almoni;
    font-size: 20px;
    color: #b8292f;
    -webkit-transition:all .5s ease-out;
    transition: all .5s ease-out;
  }
  nav div.main_menu ul li.current_page_item > a,
  nav div.main_menu ul li.current-menu-item > a,
  nav div.main_menu ul li:hover > a {
    color: #000;
  }
  nav div.main_menu > ul > li ul.sub-menu {
    display: block;
    z-index: 999;
    width: 250px;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition:opacity .5s ease;
    transition: opacity .5s ease;
  }
  .sub-menu li {
    display: block;
  }
  .sub-menu li a {
    display: block;
    font-size: 20px;
    padding: 5px;
    width: calc(100% - 10px);
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
  }
  .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
  }
}

@mixin otherBaseStyles() {
  .acf-map {
    width: 100%;
    height: 366px;
    pointer-events: none;
  }
  .entry {
    font-size: 18px;
    line-height: 1.4;
    color: #000;
  }
  .entry img {
    max-width: 100%;
    height: auto;
  }
  .entry ul {
    margin: 0 20px;
    list-style: inherit;
  }
  .entry table {
    border: 1px solid #000;
  }
  .entry table td {
    border: 1px solid #000;
  }
  .entry table tr:nth-child(1) > td {
    text-align: center;
    background: #ccc;
  }
  div.wpcf7 img.ajax-loader {
    display: none;
  }
  svg * {
    fill: inherit !important;
  }
  .bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .overh {
    overflow: hidden;
  }
  .fcc,
  .flex,
  .inrowf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fcc,
  .aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .aifs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .aife {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
  }
  .jcsb,
  .inrowf {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .jcsa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .fcc,
  .jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .jsfe {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .fdc,
  .fcc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fw,
  .inrowf {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .anim {
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
  }
}

@mixin footerBaseStyles() {
  footer {
    position: absolute;
    bottom: 64px;
    left: 0;
    height: auto;
    min-height: 50px;
    width: 100%;
  }
  #leos {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    overflow: hidden;
  }
  #leos img {
    padding-top: 10px;
    height: 50px;
    width: auto;
  }
  #leos a {
    position: relative;
    display: inline-block;
  }
  #leos span {
    opacity: 0;
    position: absolute;
    right: 0;
    color: white;
    font-size: 22px;
    bottom: 10px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition:.3s;
    transition: .3s;
  }
  #leos a:hover span {
    right: -170px;
    opacity: 1;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
  }
  @keyframes flipInY {
    0% {
      -webkit-transform: perspective(400px) rotateY(90deg);
      transform: perspective(400px) rotateY(90deg);
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(400px) rotateY(-10deg);
      transform: perspective(400px) rotateY(-10deg);
    }
    70% {
      -webkit-transform: perspective(400px) rotateY(10deg);
      transform: perspective(400px) rotateY(10deg);
    }
    100% {
      -webkit-transform: perspective(400px) rotateY(0deg);
      transform: perspective(400px) rotateY(0deg);
      opacity: 1;
    }
  }
}

@mixin socialsBaseStyles() {
  #FloatSocials {
    position: fixed;
    display: block;
    top:30%;
    left:10px;
    z-index: 90;
  }
  #FloatSocials div {
    margin-bottom: 5px;
  }
  #FloatSocials div a {
    display: inline-block;
  }
  #FloatSocials img,
  #FloatSocials svg {
    width: 30px;
    height:30px;
    fill:#000;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
  }
  a.facebook_icon:hover svg {
    fill: #3b5998 !important;
  }
  a.google_icon:hover svg {
    fill: #dd4b39 !important;
  }
  a.twitter_icon:hover svg {
    fill: #00aced !important;
  }
  a.youtube_icon:hover svg {
    fill: #bb0000 !important;
  }
  a.instagram_icon:hover svg {
    fill: #e95950 !important;
  }
  a.pinterest_icon:hover svg {
    fill: #cb2027 !important;
  }
  a.linkedin_icon:hover svg {
    fill: #007bb6 !important;
  }
}

@mixin formBaseStyles() {
  /* Contact form style Start */
  span.wpcf7-form-control-wrap {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  /* Red Ballons CSS */
  span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
    position: absolute;
    bottom: 100%;
    background: #f00;
    border-radius: 5px;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    white-space: nowrap;
    left: 5%;
    -webkit-animation: formerror 400ms;
    animation: formerror 400ms;
  }
  span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip.tip_out {
    -webkit-transition: all 400ms;
    transition: all 400ms;
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top:100%;
    left: 10%;
    border-left: 0 solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #f00;
  }
  @-webkit-keyframes formerror {
    from {
      opacity: 0;
      bottom: 0;
    }
    to {
      opacity: 1;
      bottom: 100%;
    }
  }
  @keyframes formerror {
    from {
      opacity: 0;
      bottom: 0;
    }
    to {
      opacity: 1;
      bottom: 100%;
    }
  }
  /* Input Syles */
  div.wpcf7 input,
  div.wpcf7 select,
  div.wpcf7 textarea,
  div.wpcf7 input[type=submit] {
    font-family: Almoni;
  }
  div.wpcf7 input[type=tel],
  div.wpcf7 input[type=text],
  div.wpcf7 input[type=email],
  div.wpcf7 select,
  div.wpcf7 textarea {
    font-size: 20px;
    width: calc(100% - 12px);
    background: #FFFFFF;
    border:1px solid #ebebeb;
    padding: 8px 5px;
  }
  div.wpcf7 textarea { height: 188px; }
  div.wpcf7 input[type=submit] {
    display: block;
    margin: 0 auto 0 auto;
    padding: 10px 50px;
    background: #ccc;
    cursor: pointer;
  }
  /* Bubble animation for replacing ajax img */
  @-webkit-keyframes bubbles {
    0% {
      -webkit-transform: scale(1);
      opacity: 1; }

    45% {
      -webkit-transform: scale(0.1);
      opacity: 0.7; }

    80% {
      -webkit-transform: scale(1);
      opacity: 1; } }
  @keyframes bubbles {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1; }

    45% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7; }

    80% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  /* Errors Msgs */

  div.wpcf7-response-output {
    position: fixed;
    margin: 0 !important;
    border: none;
    padding: 10px 15px;
    bottom:-100%;
    z-index:9999;
    font-size:22px !important;
    left:50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition:all 1s ease;
    transition: all 1s ease;
  }
  div.wpcf7-validation-errors,
  div.wpcf7-mail-sent-ok {
    -webkit-animation: form_msg_error 500ms;
    animation: form_msg_error 500ms;
    bottom:0;
    color: black;
  }
  @-webkit-keyframes form_msg_error {
    from {
      bottom:-100%;
    }
    to {
      bottom:0;
    }
  }
  @keyframes form_msg_error {
    from {
      bottom:-100%;
    }
    to {
      bottom:0;
    }
  }
  div.wpcf7-mail-sent-ok {
    background: #398f14;
  }
  div.wpcf7-validation-errors {
    background: #f7e700;
  }
  .form_msg_error_out {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  @-webkit-keyframes form_msg_out {
    from {
      bottom: 0;
    }
    to {
      bottom: -300px;
    }
  }
  @keyframes form_msg_out {
    from {
      bottom: 0;
    }
    to {
      bottom: -300px;
    }
  }
  ::-webkit-input-placeholder {
    color: black;
    font-family: $baseFont;
  }
  :-moz-placeholder {
    color: black;
    font-family: Almoni;
  }
  ::-moz-placeholder {
    color: black;
    font-family: Almoni;
  }
  :-ms-input-placeholder {
    color: black;
    font-family: Almoni;
  }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent;
  }
}

@mixin mobileBaseStyles() {
  #content {
    padding-bottom:0;
  }
  #leos {
    position:static;
  }
  footer {
    position:static;
  }
  .nomobile {
    display:none;
  }
  .mfw {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .mw100 {
    width: 100% !important;
  }
  .mdp {
    padding: 20px 0;
  }
  #MobNavBtn {
    display: block;
    position: absolute;
    top:10px;
    right:100%;
    width:45px;
    height:45px;
    background:inherit;
    z-index: 9999;
  }
  #MobNavBtn span {
    display: block;
    height:4px;
    width: 70%;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    margin:0 auto;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    opacity: 1;
  }
  #MobNavBtn span:nth-child(1) {
    -webkit-transform: translate(-50%,-280%);
    transform: translate(-50%,-280%);
  }
  #MobNavBtn span:nth-child(2) {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  #MobNavBtn span:nth-child(3) {
    -webkit-transform: translate(-50%,180%);
    transform: translate(-50%,180%);
  }
  nav.active #MobNavBtn span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  nav.active #MobNavBtn span:nth-child(1) {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  nav.active #MobNavBtn span:nth-child(3) {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
  }
  #FloatSocials {
    display:none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width:calc(100% - 4px);
    max-width:200px;
    bottom:2px;
    right:2px;
    top:auto;
  }
  #FloatSocials div {
    margin: 2px 5px;
  }
  #FloatSocials svg {
    width:30px;
    height:30px;
  }
  #FloatSocials.replaced {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    display:block;
    position:fixed;
    height:auto;
    width:60%;
    max-width:200px;
    z-index:999;
    bottom:0;
    top:0;
    right:0;
    height:100vh;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    text-align: right;
  }
  nav.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  nav div.main_menu > ul {
    display: block;
    margin-top: 10px;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  nav div.main_menu > ul > li > a {
    color:#000;
  }
  nav ul li:after {
    display:none;
  }
  .back-to-menu,
  nav div.main_menu ul li.menu-item-has-children {
    padding: 0 0 0 30px;
    width: calc(100% - 30px);
  }
  nav div.main_menu ul.active .back-to-menu:after,
  nav div.main_menu ul li.menu-item-has-children:after {
    display: block;
    content: '';
    position: absolute;
    top:50%;
    left: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(images/svg/mob-menu-arrow.svg) center center no-repeat;
    background-size:contain;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  nav div.main_menu ul.active .back-to-menu:after {
    -webkit-transform: rotate(90deg) translateY(-50%);
    transform: rotate(90deg) translateY(-50%);
  }
  nav div.main_menu ul.active li.menu-item-has-children {
    padding: 0;
    width: 100%;
  }
  nav div.main_menu ul.active li.menu-item-has-children:after {
    display: none;
  }
  nav  ul.menu li a {
    padding:10px 5px !important;
    width:calc(100% - 10px) !important;
  }
  ul.sub-menu {
    display: none;
  }
  nav div.main_menu > ul > li > ul.sub-menu {
    display: block;
    position: absolute;
    top:0;
    width:100%;
    opacity: 0;
    overflow: hidden;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    pointer-events: none;
  }
  nav div.main_menu > ul > li > ul.sub-menu.chekd {
    height:0;
    position: relative;
  }
  ul.sub-menu li {
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto 0 0;
    padding: 0;
    position: relative;
  }
  .sub-menu li:nth-child(1),
  .sub-menu li:nth-child(2) {
    margin: 0;
    width: 100%;
  }
  nav div.main_menu > ul.menu > li.active > ul.sub-menu {
    opacity: 1;
  }
  nav div.main_menu > ul.menu.active > li > a {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  nav div.main_menu ul li.current_page_item > a,
  nav div.main_menu ul li.current-menu-item > a {
    color:#fff;
  }
  nav div.main_menu ul li:hover > a {
    color:#000;
  }
  .back-to-menu {
    cursor: pointer;
  }
  #MobBtns {
    display: block;
    position: fixed;
    bottom:3px;
    left:2.5px;
    z-index: 99999;
  }
  #MobBtns div {
    width:40px;
    height:40px;
    border-radius: 50%;
    margin: 0 2.5px;
    background: #e01600;
    position: relative;
  }
  #MobBtns div a {
    display:block;
    height:100%;
  }
  #MobBtns div svg {
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    fill: #fff;
    max-width:60%;
    max-height:60%;
    width:auto;
    height: auto;
  }
}

@mixin leosTemplateStyles($fontName) {
  @include baseFontFamily($fontName);
  @include resetDefaults();
  @include baseStyles();
  @include menuBaseStyles();
  @include otherBaseStyles();
  @include footerBaseStyles();
  @include socialsBaseStyles();
  @include formBaseStyles();
}







